@page "/"
@model LinearUpdateDashboard.Pages.MarketListModel

@{
    ViewData["Title"] = "MarketList";
}

<h1>Market List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Markets[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Markets[0].LastUpdated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Markets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdated)
            </td>
            <td>
                <a asp-page="./MarketDetails" asp-route-name="@item.Name">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
